*{
    margin: 0;
    padding: 0;
}
html,body{
    overflow-x: hidden;
    font-family: sans-serif;
}
nav{
    display: block;
    width: 100%;
    background-color: black;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
}
nav .nav{
    width: 100%;
}
nav .nav ul{
    display: flex;
    width: 100%;
    justify-content: center;
}
nav .nav ul li{
    text-align: center;
    padding: 25px 5px;
    flex-grow: 1;
    list-style: none;
}
nav .nav ul li#logo-mindx{
    flex-grow: 80;
    text-align: left;
    padding-left: 20px;
}
nav .nav ul li.menu a{
    text-decoration: none;
    color: white;
    font-size: 1.26rem;
    font-weight: 400;
}
nav .nav ul li.button-1{
    height: 100%;
}
nav .nav ul li.button-1 a{
    background-color: #0080ff;
    padding: 12px 12px;
}
nav .nav ul li.button-2{
    height: 100%;
}
nav .nav ul li.button-2 a{
    border: 1px solid #0080ff;
    padding: 12px 12px;
}
header{
    display: block;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( 180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100% );
}
header .header{
    width: 100%;
}
header .header h1{
    width: 100%;
    font-size: 3.75rem;
    padding-top: 19%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}
header .header h3{
    width: 100%;
    font-size: 1.88rem;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    color: black;
    padding-top: 0.85%;
}
main{
    display: block;
    width: 100%;
    height: 1200px;
    background-color: #74EBD5;
    background-image: linear-gradient(
    90deg, #74EBD5 0%, #9FACE6 100%);
}
main .content{
    text-align: center;
    width: 100%;
}
main .content .artitle h2{
    margin: 0 auto 3.63rem auto;
    border-bottom: 0.16rem solid #fff;
    font-size: 2.62rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    width: 40rem;
    line-height: 3.8rem;
    padding-top: 6.2rem;
}
main .content .img-list-up{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 30px;
}
main .content .img-list-up .item{
    width: 400px;
    height: 360px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main .content .img-list-up .item .link{
    width: 400px;
    height: 360px;
    text-decoration: none;
}
main .content .img-list-up .item .link img{
    width: 400px;
    height: 290px;
}
main .content .img-list-up .item .link .sample{
    width: 100%;
    height: 70px;
    font-size: 20px;
    color: white;
}
main .content .img-list-up .item .link .sample span{
    display: inline-block;
    margin-top: 20px;
    transition: 0.5s;
}
main .content .img-list-up .item .link .sample:hover span{
    color: #ff7f50;
}
main .content .img-list-down{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 30px;
    margin-top: 45px;
}
main .content .img-list-down .item{
    width: 400px;
    height: 360px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main .content .img-list-down .item .link{
    width: 400px;
    height: 360px;
    text-decoration: none;
}
main .content .img-list-down .item .link img{
    width: 400px;
    height: 290px;
}
main .content .img-list-down .item .link .sample{
    width: 100%;
    height: 70px;
    font-size: 20px;
    color: white;
}
main .content .img-list-down .item .link .sample span{
    display: inline-block;
    margin-top: 20px;
    transition: 0.5s;
}
main .content .img-list-down .item .link .sample:hover span{
    color: #ff7f50;
}
main .content .button{
    width: 140px;
    height: 48px;
    font-size: 20px;
    background-color: gray;
    border-radius: 2px;
    margin-top: 60px;
    margin-left: 50%;
    transform: translateX(-50%);
}
main .content .button a.show{
    text-decoration: none;
    color: #fff;
}
main .content .button a.show span.word{
    padding: 12px 5px 10px 0;
    display: inline-block;
}
main .content .button:hover a.show span.word{
    padding: 12px 7px 10px 0;
}
main .content .button a.show span.move{
    padding-right: 2px;
}
main .content .button:hover a.show span.move{
    padding-right: 0;
}
main .content .button:hover{
    background-color: red;
}
summary{
    display: block;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient( 180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100% );
}
summary .contact{
    width: 100%;
}
summary .contact h1{
    width: 100%;
    font-size: 3.75rem;
    padding-top: 11.5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}
summary .contact h3{
    width: 100%;
    font-size: 1.12rem;
    padding-top: 0.8%;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    color: white;
}
summary .contact p{
    width: 100%;
    padding-top: 4%;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;

}
summary .contact p a{
    text-decoration: none;
    color: white;
    margin: 0 1.1rem 0;
}
summary .contact p a{
    text-shadow: 1px 2px 1px black;
}
summary .contact p a i span{
    font-weight: 400;
}
footer .footer{
    width: 100%;
    height: 10vh;
    padding-top: 7vh;
    font-weight: 500;
    font-size: 1.12rem;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
footer .footer p a{
    text-decoration: none;
    color: white;
}
